{% extends "layout.html" %}

{% block title %}{{story_title}}{% endblock %}

{% block content %}

<div class="edit">
    <h3 class="center story-title-font">{{story_title}}</h3>
    
    <p class="center">
        {{last_line}}
    </p>
    
    <form method="POST" action="/story/{{story_id}}/edit" class="add-text">
        <textarea cols="40" class="mb-2 textbox" placeholder="continue the story!" type="text" name="line"></textarea>
        <br>
        <input class="mb-2 button" type="submit" value="add to story">
    </form>
</div>


<form action="/home" class="center">
    <input class="button" type="submit" name="home" value="home">
</form>

{% endblock %}