{% extends "layout.html" %}

{% block title %}home{% endblock %}

{% block content %}

<h3> <a href="/new">create a new story</a> </h3>

<h3> read stories </h3>

<ul>
    {% for story in contributed_stories %}
    <li>
        <a href="/story/{{story[0]}}">{{story[1]}}</a>
    </li>
    {% endfor %}
</ul>

<h3> write stories </h3>

<ul>
    {% for story in uncontributed_stories %}
    <li>
        <a href="/story/{{story[0]}}">{{story[1]}}</a>
    </li>
    {% endfor %}
</ul>
</ul>

<form action="/logout">
    <input type="submit" name="logout" value="logout">
</form>

{% endblock %}