<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - words and their stories</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1><a class="decoration-none" href="/">words and their stories</a>
    
    <h2>by hui wang, ryan lau, jonathan song</h2>
        
    <h3>This program allows the user to create and save their own stories, as well as allowing people to add to other people's stories.</h3>
        
    </h1>

    <div>
        {% block content %}{% endblock %}
    </div>

</body>



</html>
