<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - words and their stories</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet'>
</head>

<body>
    <div class="titlebar">
        
        {% if username %}
        <h2 class="script-font invisible m-0">logged in as: {{username}}</h2>
        {% else %}
        <div> </div>
        {%endif%}
        <h1 class="m-0">
            <a class="decoration-none script-font text-black" href="/">words and their stories</a>
        </h1>
        {% if username %}
        <h2 class="script-font m-0">logged in as: {{username}}</h2>
        {%else%}
        <div> </div>
        {%endif%}
        
    </div>
    
    <h2 class="decoration-none script-font center">by hui wang, ryan lau, jonathan song</h2>
        

    <div>
        {% block content %}{% endblock %}
    </div>

</body>



</html>
