{% extends "layout.html" %}

{% block title %}register{% endblock %}

{% block content %}

<div class="creds">
    <h3 class="center">register</h3>
    
    <form method="POST" action="/register" class="creds-form">
        <input class="mb-2" placeholder="username" type="text" name="username">

        <input class="mb-2" placeholder="password" type="password" name="password">

        {% if message %}
        <p class="text-red">{{message}}</p>
        {% endif %}
        
        <input class="mb-2 button" type="submit" value="register">
    </form>
</div>


<form action="/home" class="center">
    <input class="button" type="submit" name="back" value="back">
</form>

{% endblock %}